body{
    background-color: /*#B9FFBB*/ black;
    font-family: "Andalé Mono", monospace;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}
body div {
    color: #a5beab;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.flexImage img{
    width: 100%;
    padding: 2px;
    position: relative;
    border: 2px solid white;
}
#imagesFlexbox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-width: 25%;
    min-width: 100px;
    margin: 5px;
    float: right;
}
#myName{
    margin: 10px;
    padding: 10px;
    width: 100%;
    min-width: 500px;
    text-align: center;
    border-bottom: .5px solid white;
    color: #987FF9;
    font-family: "Gill Sans", sans-serif;
    font-size: 28pt;
}
#intro{
    text-align: center;
    font-size: 14pt;
}
#menuList{
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    justify-content: center;
    font-size: 14pt;
    list-style-type: none;
    font-family: "Andalé Mono", monospace;
    background-color: black;
}
.sticky { /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
    /* Add some top padding to the page content to prevent sudden quick movement*/
  padding-top: 60px;
}
a{
    margin: 4px;
    color: #987FF9;
}
a:hover{
    color: #49DDF3;
}
@media all and (max-width:800px){
    body{
        font-size: .8em;
    }
}
.sectionTitle{
    position: relative;
    text-align: center;
    color: #987FF9;
    text-decoration: underline solid 1px;
    font-family: "Andalé Mono", monospace;
    font-size: 14pt;
}
